@model MyChat.Services.ViewModels.Users.UserRegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<div class="container mtStandatr">
    <h2>Регистрация</h2>
    <form asp-action="Register" method="post" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="userName" class="form-label" asp-for="UserName"></label>
            <input type="text" class="form-control" id="userName" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" asp-for="Email"></label>
            <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label for="dateBirthday" class="form-label" asp-for="DateOfBirthday"></label>
            <input type="date" class="form-control" id="dateBirthday" asp-for="DateOfBirthday">
            <span class="text-danger" asp-validation-for="DateOfBirthday"></span>
        </div>
        <div class="mb-3">
            <label for="passwordField" class="form-label" asp-for="Password"></label>
            <div class="input-group inputPassBlock">
                <input type="password" id="passwordField" class="form-control passField" aria-labelledby="passHelp" asp-for="Password">
                <button class="text-reset resetButton icoForPass" id="openEyeIco" hidden="hidden"><i class="bi bi-eye-fill"></i></button>
                <button class="text-reset resetButton icoForPass" id="closeEyeIco"><i class="bi bi-eye-slash-fill"></i></button>
            </div>
            <div id="passHelp" class="form-text">
                Пароль должен содержать в себе 1 букву верхнего регистра, 1 букву нижнего регистра, а также минимум 1 цифру, длина пароля не менее 6 символов..
            </div>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label for="confirmPasswordField" class="form-label passField" asp-for="ConfirmPassword"></label>
            <input type="password" class="form-control" id="confirmPasswordField" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <div id="passwordHelpBlock" class="form-text">
                Пароли должны совпадать
            </div>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01" asp-for="Avatar"></label>
            <input type="file" class="form-control" id="inputGroupFile01" name="uploadedFile">
            <div id="help" class="form-text">минимально 55х55px (jpg/jpen/png)</div>
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <div class="text-danger" asp-validation-summary="All"></div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
